@import "./../../utils/variables";

.containerDropdown {
  position: relative;
  background-color: $monitore-white;
  border-radius: 8px;
  width: 177px;
  height: 46.118px;
}

.dropdownSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 16px;
  cursor: pointer;
  span {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:hover {
      color: $textInput-diseblade-color;
    }
  }
}
.dropdownSelect.open {
  width: 177px;
  height: 46.118px;
  border: 1px solid $monitore-brown;
  border-radius: 8px;
  span {
    color: $textInput-diseblade-color;
  }
}

.containerOptions {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $monitore-white;
  border: 1px solid $monitore-white;
  border-radius: 8px;
  margin-top: 8px;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #818181;
  z-index: 1;
}

.option {
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid$monitore-item-column-title;
}

.option:first-child {
  border-top: none;
}

.option:hover {
  background-color: $monitore-brown;
  color: $monitore-white;
}
