@import "./../../utils/variables";

.defaultButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $monitore-white;
  background: $monitore-brown;
}

.normalButton {
  justify-content: space-around;
  width: 179px;
  height: 50px;
  padding: 8px;
  &:hover {
    background: $monitore-brown-hover;
  }
  &:active {
    border: 2px solid $monitore-brown-hover;
    background: $monitore-brown-press;
  }
}

.largeButton {
  justify-content: space-around;
  width: 202px;
  height: 50px;
  padding: 8px;
  &:hover {
    background: $monitore-brown-hover;
  }
  &:active {
    border: 2px solid $monitore-brown-hover;
    background: $monitore-brown-press;
  }
}

.transparentButton {
  justify-content: center;
  gap: 8px;
  width: 134px;
  height: 50px;
  padding: 8px;
  background: none;
  &:hover {
    background: $monitore-brown;
  }
  &:active {
    border: 2px solid $monitore-brown;
    background: $monitore-light-brown-press;
  }
}

.sideBarButton {
  gap: 8px;
  width: 187px;
  height: 40px;
  padding: 8px 32px 8px 8px;
  background: none;
}

.filterButton {
  justify-content: center;
  gap: 8px;
  width: 202px;
  height: 50px;
  padding: 8px 16px;
  background: #efefef;
  color: $monitore-brown;
  &:hover {
    background: $monitore-white-hover;
  }
  &:active {
    border: 2px solid $monitore-brown;
    background: $monitore-white-hover;
  }
}
