@import "../../utils/variables";

.pageClimateContainer {
  display: flex;

  .climateDataContainer {
    margin-left: 235px;
    width: 100%;
    padding: 0px 32px 48px;

    .climateTitle {
      position: fixed;
      z-index: 1;
      width: calc(100% - 299px);
      height: 96px;

      display: flex;
      align-items: flex-end;

      background-color: white;
    }

    .climateData {
      margin-top: 150px;
      display: flex;
      gap: 32px;

      .mainInfos {
        width: 100%;
        flex: 2.5;

        display: flex;
        flex-direction: column;
        gap: 32px;

        .graphic {
          height: 581px;
          border-radius: 8px;
        }
      }

      .weekData {
        flex: 1;
      }
    }
  }
}
