.cointainerLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemsLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 592px;
  border: 1px solid green;
  border-radius: 10px;
}

.left {
  width: 316px;
}

.noGap {
  margin-top: -40px;
}
