.cointainerPlot {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.margin86 {
  margin-bottom: 86px;
}

.mainContentPlot {
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historic {
  display: flex;
  gap: 32px;
  margin-top: 31px;
}
