$monitore-brown: #a05f53;
$monitore-green: #5e9549;
$monitore-green-progress-bar: #367a1b;
$monitore-light-green: #c1d6b8;
$monitore-soft-black: #353535;
$monitore-gray: #b6b6b6;
$monitore-button-black: #292929;
$monitore-button-black-hover: #454545;
$monitore-line: #b6b6b6;
$monitore-boundary-line: #818181;
$monitore-black-title: #353535;
$monitore-gray-text: #464646;
$monitore-white: #fff;
$monitore-defaultBackground: #efefef;
$textInput-defaultBorder-color: #efefef;
$textInput-focus-color: #a05f53;
$textInput-placeholder-color: #959595;
$textInput-placeholder-hover-color: #b6b6b6;
$textInput-diseblade-color: #cecece;
$textInput-errorMessage-color: #f00c0c;
$customCheckbox-label-color: #616161;
$customCheckbox-active-color: #f3e1dd;
$monitore-brown-hover: #883728;
$monitore-brown-press: #934739;
$monitore-light-brown-press: #af796f;
$monitore-white-hover: #f3ebea;
$monitore-gray-weatherCard: #585858;
$monitore-graphic-background: #efefef;
$monitore-item-column-title: #818181;
$monitore-text-h1: #1e430f;
