@import "../../../../utils/variables";

.MidBarActive {
  height: 12px;
  width: 11.5%;
  background-color: $monitore-green-progress-bar;
}
.MidBarInactive {
  height: 12px;
  width: 11.5%;
  background-color: $monitore-light-green;
}
