@import "./../../utils/variables";

.ProgressBarDefault {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 650px;
}

.ProgressbarBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 1.5% 8px;
}

.LabelBox {
  display: flex;
  flex-direction: row;
  padding: 0 1.5% 16px 0%;

  label {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    color: $monitore-item-column-title;
  }
}
.StagesNamesBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-break: break-word;
  width: 100%;

  p {
    width: 5.3%;
    min-width: 90px;
    text-align: center;
  }
}
